body{
    background-color: #141414;
    color: white;
}


.heading{
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.movies-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 50px 50px;
}
